.p-page { 
    width: 100%;
    height: 100vh;
}

.p-titles__wrapper { 
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.p-title {
    width: 100%;
    text-align: center;
}

.featured__wrapper {
    height: 80%;
    width: 60%;
    margin: auto;

    display: flex;
}